%li{ class: ('active' if current_admin_path.start_with?('/reviews')) }
  = link_to spina.reviews_admin_reviews_path do
    = icon('4')
    = plugin.title
    %small Beheer de beoordelingen van je klanten
