%li{ class: ('active' if current_admin_path.start_with?('/openinghours')) }
  = link_to spina.openinghours_admin_openinghours_path do
    = icon('6')
    = plugin.name
    %small Stel je openingstijden in
