= restaurant_menu_collection_form.fields_for :page_partable, restaurant_menu_collection_form.object.page_partable do |form|

  = form.fields_for :restaurant_menus do |restaurant_menu_builder|
    = render 'restaurant_menu_fields', f: restaurant_menu_builder

  = link_to_add_fields form, :restaurant_menus do
    %i{data: {icon: 't '}}
    Nieuw restaurant menu